<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.mapper.IFilmMapper">
    <resultMap id="filmMap" type="Film">
        <id property="fId" column="f_id"/>
        <result property="fName" column="f_name"></result>
        <result property="fImg" column="f_img"></result>
        <result property="fIntro" column="f_intro"></result>
        <result property="fType" column="f_type"></result>
        <result property="isDelete" column="is_delete"></result>
    </resultMap>
    <!--获取总条数-->
    <select id="getTotalCount" resultType="Integer">
        select count(1) from film where is_delete=1;
    </select>
    <!--获取分页展示页面-->
    <select id="getList" resultMap="filmMap">
        select * from film where is_delete=1 limit #{offset},#{pageSize};
    </select>
    <!--通过id获取影片详细信息-->
    <select id="getFilmById" resultMap="filmMap">
        select * from film where f_id=#{fId1};
    </select>
    <!--获取所有数据-->
    <select id="getAll" resultMap="filmMap">
        select * from film where is_delete=1;
    </select>
    <!--搜索影片-->
    <select id="getFilm" resultMap="filmMap">
        select * from film where f_name like #{fContext1} and is_delete=1;
    </select>
</mapper>